html, body {
	min-height: 100%;
}
body {
	position: relative;
}

input[type=submit] {
	margin: 2px;
	border-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

button {
	margin: 2px;
	margin-bottom: 5px;
	border-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

#main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(183, 84, 84, 1);
}
#overlayWindowsBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}
#overlayWindows {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}

#newsBoard {
	text-align: center;
	padding-top: 0.5%;
	display: block;
	position: relative;
	height: 200px;
	width: 800px;
	top: 10px;
	left: 50%;
	margin-left: -400px;
	border: 1px solid gray;
	border-radius: 5px;
	font: 1em arial;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.1);
}
#newsTable {
	text-align: center;
	display: block;
	position: relative;
	overflow-y: auto;
	height: 160px;
	z-index: 2;
}
.newsTime {
	width: 100px;
	padding-top: 2px;
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	font: italic 0.9em arial;
	line-height: 110%;
}

.newsContent {
	padding-left: 5px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	font: 1em arial;
	line-height: 110%;
	border-left: 1px solid black;
}

#newGameSettings {
	width: 36%;
	margin-top: -10%;
	margin-left: -18%;
}

#AYSprompt {
	width: 30%;
	margin-top: -7%;
	margin-left: -15%;
}

#joinNewGame {
	width: 18%;
	margin-top: -6%;
	margin-left: -9%;
}

#hostLobby {
	width: 50%;
	margin-top: -10%;
	margin-left: -25%;
}

#clientLobby {
	width: 50%;
	margin-top: -10%;
	margin-left: -25%;
}

.lobbyPlayerSlot {
	text-align: center;
	vertical-align: top;
	font: 1em arial;
	padding-bottom: -1%;
}

.popUp {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(183, 84, 84, 1);
	border: 2px solid black;
	border-radius: 10px;
	z-index: 101;
}

.popUpTop {
	float: top;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	position: relative;
	z-index: 102;
}

.popUpList {
	float: left;
	padding: 1%;
	display: inline-block;
	height: 28%;
	width: 16%;
	z-index: 102;
}

.popUpBottom {
	float: bottom;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2%;
	position: relative;
	z-index: 102;
}

/*--------------------------------------------------------------------------*/

#otherPlayers {
	float: left;
	display: inline-block;
	height: 75%;
	width: 10%;
	z-index: 1;
}
table#otherPlayersTable {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-spacing: 0.5em;
}
table#otherPlayersTable td {
	color: white;
	text-align: center;
	cursor: default;
}
.nOfCards {
	font-size: 2em;
	line-height: 2;
}

#gameInfo {
	background-color: pink;
	float: right;
	display: inline-block;
	height: 100%;
	width: 10%;
	z-index: 1;
	text-align: center;
}

table#cardPiles {
	width: 100%;
	height: 75%;
	/*table-layout: fixed;*/
	border-spacing: 0.5em;
}
table#cardPiles tr {
	height: 33.33%;
	cursor: default;
}
#drawPile {
	color: white;
}
#flyingCard {
	position: absolute;
	width: 9%;
	height: 24%;
}

#cardPreviewArea {
	border: 1px dashed black;
}
table.cardVisuals {
	height: 100%;
	width: 100%;
	border: 1px dashed black;
}
table.cardVisuals tr {
	vertical-align: baseline;
	width: 100%;
	border: 1px dashed red;
}
table.cardVisuals td {
	width: 20%;
	font-size: 0.7em;
	border: 1px solid red;
}
table.cardVisuals tr.cardVisualsStats {
	height: 0px;
}
table.cardVisuals tr.cardVisualsSizeTypeMechanical {
	height: 0px;
}
table.cardVisuals tr.cardVisualsStats div {
	float: right;
	border: 1px solid blue;
}
table.cardVisuals tr.cardVisualsStats div.cardVisualsName {
	width: 100%;
	font-size: 1.1em;
	text-align: left;
}
table.cardVisuals tr.cardVisualsImage {
	height: 0%;
	width: 100%;
}
table.cardVisuals img.cardVisualsImage {
	height: auto;
	width: 100%;
}
table.cardVisuals div.cardVisualsSizeType {
	float: left;
	border: 1px solid blue;
}
table.cardVisuals div.cardVisualsMechanical {
	float: right;
	border: 1px solid blue;
}
table.cardVisuals div.cardVisualsDescription {
	text-align: left;
	margin-left: 3%;
	margin-right: 1%;
	overflow: auto;
	height: 100%;
}
table.cardVisuals div#cardVisualsDescriptionPreview {
	overflow: hidden;
}

table#cardPiles td#cardHistory {
	position: relative;
	vertical-align: baseline;
	border: 1px dashed purple;
}
table#cardPiles div#cardHistoryHeader {
	border: 1px dotted green;
	font-size: 1em;
	height: 10%;
}
table#cardPiles div#cardHistoryList {
	border: 1px dotted green;
	height: 90%;
	overflow-y: auto;
}
table#cardHistoryTable {
	width: 100%;
}
table#cardHistoryTable tr td {
	text-align: left;
	border: 1px solid black;
	width: 100%;
	font-size: 1.1em;
}

#surrenderButton {
	position: absolute;
	width: 9%;
	font-size: 1em;
	background-color: #C20;
	border-color: #600;
	right: 0.5%;
	bottom: 4%;
}
#endTurnButton {
	position: absolute;
	width: 9%;
	font-size: 1.2em;
	background-color: lightgreen;
	right: 0.5%;
	bottom: 0.5%;
}

#terStateInfo {
	height: 25%;
	overflow-y: auto;
}
table#terGenInfo {
	width: 100%;
}
table#terUnitInfo {
	width: 100%;
}
table#terUnitInfo td {
	border: 1px solid black;
}
table#terUnitInfo td.hoveredUnit {
	background-color: rgba(0,0,0,0.2);
}
.tooltip {
	width: 10%;
	/*height: 25%;*/
	visibility: hidden;
	background-color: black;
	color: white;
	text-align: left;
	border-radius: 6px;
	border: 1px dashed black;
	padding: 5px 5px;

	position: absolute;
	z-index: 10;
	top: 50%;
	left: 89%;
}
.tooltip .showTooltip {
	visibility: visible;
}

/*.terInfoTooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.terInfoTooltip .terInfoTooltipText {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;*/

	/* Position the tooltip */
	/*position: absolute;
	z-index: 100;
	top: -5px;
	left: -150%;
}
.terInfoTooltip:hover .terInfoTooltipText {
	visibility: visible;
}*/
#transporterList {
	width: 21%;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 10;
}
#transporterTable {
	width: 10%;
	color: white;
	text-align: left;
	position: relative;
	z-index: 10;
}
#unitTable {
	width: 10%;
	color: white;
	text-align: left;
	position: relative;
	z-index: 10;
}

#gameBoard {
	float: top;
	display: inline-block;
	height: 75%;
	width: 80%;
	z-index: 1;
}
#gameBoardCanvas {
	position: absolute;
	left: 10%;
	top: 0%;
}
#gameBoard svg {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

#playerCards {
	background-color: lightblue;
	float: bottom;
	display: inline-block;
	height: 25%;
	width: 90%;
	z-index: 1;
}
#playerKingdom {
	display: inline-block;
	height: 100%;
	text-align: center;
	font: 1em arial;
	padding: 0.5%;
	z-index: 2;
}
table#playerTable {
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-spacing: 0.5em;
}
table#playerTable td {
	text-align: center;
}
table#playerTable td#kingdomImage {
	width: 15%;
}
table#playerTable td#kingdomImage img {
	height: auto;
	width: 75%;
}
table#playerTable td#commanderName {
	height: 25%;
	cursor: default;
}
table#playerTable td.cardImage {
	border: 1px solid black;
	cursor: default;
}
table#playerTable td.hoveredCard {
	background-color: rgba(0,0,0,0.2);
}

#combat {
	width: 35%;
	margin-top: -15%;
	margin-left: -17.5%;
}
table#combatTable {
	float: top;
	text-align: center;
	width: 100%;
	padding: 0.5%;
	position: relative;
	z-index: 102;
	border: 1px solid black;
}
tr#combatHeaders {
	/*change this according to outcomes*/
	line-height: 1.3em;
	font-size: 1.1em;
}
td.combatAttackers {
	width: 35%;
	border: 1px solid black;
}
td.combatBlankArea {
	width: 15%;
	border: 1px solid black;
}
td.combatWall {
	width: 5%;
	border: 1px solid black;
}
td.combatDefenders {
	width: 35%;
	border: 1px solid black;
}
tr#combatUnits .combatTarget {
	width: 15%;
	text-align: center;
}
#combatUnits {
	vertical-align: text-top;
	cursor: default;
}
tr#combatUnits .priorityBlank {
	width: 15%;
}
tr#combatUnits .combatUnitInfo {
	width: 100%;
	text-align: left;
}
.maxHealthBar {
	position: relative;
	width: 100%;
	height: 1.2em;
	background-color: darkred;
	border: 1px solid darkgray;
}
.currentHealthBar {
	position: absolute;
	height: 100%;
	background-color: green;
	transition: width 100ms linear;
	-webkit-transition: width 100ms linear;
	-moz-transition: width 100ms linear;
	-o-transition: width 100ms linear;
}
.combatUnitName {
	width: 80%;
	cursor: default;
}

#discardCard {
	float: top;
	position: relative;
	width: 15%;
	z-index: 100;
}
div.cardVisualsImageContainer {
	position: relative;
}
div.cardVisualsImageDiv {
	position: absolute;
	height: 250%;
	width: 100%;
	top: 40%;
}
button.discardButton {
	border-radius: 50%;
	font-size: 1.5em;
	text-align: center;
	font-weight: 700;
	color: red;
}

/*FUTURE FIX: why can't I change the height and why doesn't top work?*/
#dontUseTraps {
	position: relative;
	width: 20%;
	left: 40%;
	top: 45%;
	z-index: 100;
	font-size: 1.1em;
}
#dontUseTraps button#dontUseTrapsButton {
	font-size: 1.1em;
	text-align: center;
}

#utilityApplier {
	float: top;
	position: relative;
	width: 30%;
	z-index: 100;
	/*border: 1px solid black;*/
}
table#utilityTable {
	float: top;
	padding: 1.5%;
	position: relative;
	width: 100%;
	border-collapse: collapse;
	display: block;
	z-index: 102;
	cursor: default;
	/*border: 1px solid black;*/
}
table#utilityTable tr {
	border: 1px solid black;
	width: 100%;
	display: block;
}
table#utilityTable tr:hover {
	background-color: rgba(0,0,0,0.2);
}
table#utilityTable tr tr:hover {
	background-color: rgba(0,0,0,0);
}
table#utilityTable .utilityName {
	width: 50%;
}
/*table#utilityTable tr td:nth-child(1) {
	width: 30%;
	display: block;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
table#utilityTable tr td:nth-child(2) {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
table#utilityTable tr td:nth-child(3) {
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}*/
table#giantNevermoreTable {
	float: top;
	padding: 1.5%;
	position: relative;
	width: 100%;
	border-collapse: collapse;
	display: block;
	z-index: 102;
	cursor: default;
	/*border: 1px solid black;*/
}
table#giantNevermoreTable tr {
	border: 1px solid black;
	width: 100%;
	display: block;
}
table#giantNevermoreTable tr:hover {
	background-color: rgba(0,0,0,0.2);
}
table#giantNevermoreTable .giantNevermoreName {
	width: 50%;
}
table#stealthyCommandeeringTable {
	float: top;
	padding: 1.5%;
	position: relative;
	width: 100%;
	border-collapse: collapse;
	display: block;
	z-index: 102;
	cursor: default;
	/*border: 1px solid black;*/
}
table#stealthyCommandeeringTable tr {
	border: 1px solid black;
	width: 100%;
	display: block;
}
table#stealthyCommandeeringTable tr:hover {
	background-color: rgba(0,0,0,0.2);
}
table#stealthyCommandeeringTable .stealthyCommandeeringName {
	width: 50%;
}
#spoilsOfWar{
	width: 30%;
}
#spoilsOfWarText{
	padding: 0.5%;
	font-size: 1.2em;
}
table#spoilsOfWarTable {
	margin-left: auto;
	margin-right: auto;
	float: top;
	padding: 1.5%;
	position: relative;
	width: 100%;
	border-collapse: collapse;
	display: inline-block;
	z-index: 102;
	cursor: default;
	/*border: 1px solid black;*/
}
table#spoilsOfWarTable tr {
	border: 1px solid black;
	display: block;
}
table#spoilsOfWarTable #spoilsOfWarPlayer {
	display: inline-block;
	text-align: center;
}
table#spoilsOfWarTable #spoilsOfWarPlayer .imageCenterHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
table#spoilsOfWarTable #spoilsOfWarPlayer div {
	display: inline-block;
	height: 100%;
}
table#spoilsOfWarTable #spoilsOfWarPlayer #spoilsOfWarPlayerImage {
	width: 60%;
	vertical-align: middle;
}
table#spoilsOfWarTable #spoilsOfWarEmpty {
	display: inline-block;
}
table#spoilsOfWarTable #spoilsOfWarDrawPile {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
}
table#spoilsOfWarTable #spoilsOfWarDrawPile div {
	display: table;
	/*FUTURE FIX: stupid thing won't vertically center...*/
	height: 250px;
	width: 100%;
	text-align: center;
}
table#spoilsOfWarTable #spoilsOfWarDrawPile div span {
	color: white;
	font-size: 1.5em;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	/*border: 1px dashed red;*/
}
table#priorityTargetsTable {
	float: top;
	padding: 1.5%;
	position: relative;
	width: 100%;
	border-collapse: collapse;
	display: block;
	z-index: 102;
	cursor: default;
	/*border: 1px solid black;*/
}
table#priorityTargetsTable tr {
	border: 1px solid black;
	width: 100%;
	display: block;
}
table#priorityTargetsTable tr:hover {
	background-color: rgba(0,0,0,0.2);
}
table#priorityTargetsTable .priorityTargetsName {
	width: 50%;
}
table#priorityTargetsTable .priorityTargetsNumbers {
	font-size: 1.2em;
}
#cardCarousel {
	position: relative;
	width: 50%;
	margin-left: -25%;
	margin-top: 10%;
	z-index: 100;
}
table#carouselTable {
	padding: 1.5%;
	position: relative;
	width: 100%;
	display: block;
	cursor: default;
	border: 1px solid green;
}
table#carouselTable td {
	border: 1px solid black;
	width: 17%;
	margin: 1%;
	display: inline-block;
}
table#carouselTable tr#carouselCardsRow td {
	height: 80%;
}
table#carouselTable td table td {
	width: 100%;
	height: 80%;
}
#surrender {
	padding: 1%;
	position: absolute;
	left: 35%;
	width: 30%;
	z-index: 102;
	cursor: default;
	/*border: 1px solid black;*/
}
#surrenderHeader {
	font-size: 1.4em;
}
#surrenderText {
	font-size: 1.05em;
}
#evolutionOfWarfareText {
	position: absolute;
	font-weight: 500;
	color: black;
	font-size: 6em;
	text-shadow: 0px 0px 0.2em darkred;
}

.transportManagerTable {
	width: 30%;
}
.transportAndButtonTable {
	width: 15%;
}
.activeUnitsTable {
	width: 10%;
}
.hoveredTD {
	background-color: rgba(0,0,0,0.2);
}
.unmovableUnitTransportTD {
	background-color: rgba(255,255,255,0.4);
}
.transporterTD {
	width: 70%;
}
.blankTransportTD {
	width: 10%;
}
.unitTransportTD {
	width: 90%;
}
.transporterButton {
	width: 20%;
	font-size: 1.2em;
}

polygon {
	fill:rgba(0,0,0,0);
}
.territoryArea {
	z-index: 5;
}
.territoryCircle {
	z-index: 1;
}
.hoveredTer {
	fill: rgba(0,0,0,0.2);
}
.viableMovement {
	fill: rgba(0,0,0,0.2);
}
.viableLoadIn {
	fill: rgba(0,128,128,0.3);
}
.viableAttackTarget {
	fill: rgba(255,0,0,0.3);
}
.viableRangedTarget {
	fill: rgba(255,0,0,0.3);
}
.hoveredTer.viableMovement {
	fill: rgba(0,255,0,0.4);
}
.hoveredTer.viableLoadIn {
	fill: rgba(0,128,128,0.5);
}
.hoveredTer.viableAttackTarget {
	fill: rgba(255,0,0,0.5);
}
.passingThrough {
	fill: rgba(0,255,0,0.2);
}
.passingThrough.attackPath:not(.viableAttackTarget) {
	fill: rgba(255,255,0,0.2);
}
.viableAttackTarget.passingThrough:not(.attackPath) {
	fill: rgba(255,165,0,0.3);
}
.selected {
	background-color: rgba(0,0,0,0.2);
	fill: rgba(0,0,0,0.2);
}
.viableTarget {
	background-color: rgba(0,0,0,0.2);
	fill: rgba(0,0,0,0.2);
}
.outerRadial {
	width: 250px;
	height: 250px;
	background-color: gray;
	margin: 50px auto 0;
	position: relative;
}
.innerRadial {
	width: 250px;
	height: 250px;
	opacity: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-transform: scale(0);
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.open.innerRadial {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-transform: scale(1);
}
.innerRadial.radialItem {
	text-decoration: none;
	color: black;
	display: block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
	text-align: center;
}