html, body {
	min-height: 100%;
}

body {
	position: relative;
}

input[type=submit] {
	margin: 2px;
	border-color: rgba(0,0,0,0.7);
	border-radius: 5px;
}

button {
	margin: 2px;
	border-color: rgba(0,0,0,0.7);
	border-radius: 5px;
}

#backgroundMain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(183,84,84,1);
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}

#newsBoard {
	text-align: center;
	display: block;
	position: relative;
	height: 200px;
	width: 800px;
	top: 10px;
	left: 50%;
	margin-left: -400px;
	border: 1px solid gray;
	border-radius: 5px;
	font: 1em arial;
	z-index: 1;
	background-color: rgba(0,0,0,0.1);
}

#newsTable {
	text-align: center;
	display: block;
	position: relative;
	overflow-y: auto;
	height: 160px;
	z-index: 2;
}

.newsTime {
	width: 100px;
	padding-top: 2px;
	padding-right: 10px;
	text-align: right;
	vertical-align: top;
	font: italic 0.9em arial;
	line-height: 110%;
}

.newsContent {
	padding-left: 5px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
	font: 1em arial;
	line-height: 110%;
	border-left: 1px solid black;
}

#newGameSettings {
	width: 36%;
	margin-top: -10%;
	margin-left: -18%;
}

#AYSprompt {
	width: 30%;
	margin-top: -7%;
	margin-left: -15%;
}

#joinNewGame {
	width: 18%;
	margin-top: -6%;
	margin-left: -9%;
}

.popUp {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(183,84,84,1);
	border: 2px solid black;
	border-radius: 10px;
	z-index: 101;
}

.popUpTop {
	float: top;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	position: relative;
	z-index: 102;
}

.popUpList {
	float: left;
	padding: 1%;
	display: inline-block;
	height: 28%;
	width: 16%;
	z-index: 102;
}

.popUpBottom {
	float: bottom;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2%;
	position: relative;
	z-index: 102;
}